<!doctype html>
<html>

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div id="loginPage">
        <div class="form-container">
            <h2>
                <p class="form-header">Login</p>
            </h2>
            <hr>
            <form method="POST" action="/login">
                <div class="form-group">
                    <h4><label for="username">Username:</label></h4>
                    <input type="text" class="form-control" id="username" name="username"><br>
                </div>
                <div class="form-group">
                    <h4><label for="password">Password:</label></h4>
                    <input type="password" class="form-control" id="password" name="password"><br>
                </div>
                <button type="submit" id="login" class="btn btn-primary">Login</button>
            </form>
        </div>
        <br>
        <a id="signUpLink" href="/signup">Sign Up</a>
        <hr>
        <span id="loginMsg">
    <%= msg %>
    </span>
    </div>
</body>

</html>
