<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div id="userProfile">
        <div class="form-container" ng-controller="myController">
            <h2 id="sectionTitle" class="form-header">User Profile</h2>
            <hr>
            <form method="POST" action="/user/update">
                <div class="form-group">
                    <h4><label for="username">Username:</label></h4>
                    <input type="text" class="form-control" id="username" name="username" ng-model="user.username" disabled><br>
                </div>
                <div class="form-group">
                    <h4><label for="email">Email:</label></h4>
                    <input type="email" class="form-control" id="email" name="email" ng-model="user.email"><br>
                </div>
                <div class="form-group">
                    <h4><label for="stream">Twitch Streams (comma separated list):</label></h4>
                    <input type="text" class="form-control" id="streams" name="streams" ng-model="user.streams"><br>
                </div>
                <button type="submit" id="save" class="btn btn-primary">Save User</button>
            </form>
        </div>
        <br>
        <form method="POST" action="/user/delete">
            <button type="submit" id="delete" class="btn btn-primary">Delete User</button>
        </form>
        <hr>
        
        <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <script src="/javascripts/my_app.js"></script>
        <a id="homeLink" href="/">Home</a>
    </div>
</body>

</html>
